.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Hanover"; 
  src: local("AirbnbCerealLight"),
    url("../public/fonts/FontsFree-Net-Hanover-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.hanover {
  font-family: "Hanover", Fallback, sans-serif;
}

@font-face {
  font-family: "Poppins"; 
  src: local("AirbnbCerealLight"),
    url("../public/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", Fallback, sans-serif;
}
